<div class="footer">

    <footer>
        <section class="footer-top-wrapper">
            <section class='footer-top'>
                <img class="logos" src="../img/Createe.jpg" title='Logo' alt='Logo' />

                <span class='social-links'>

                </span>
            </section>
            <section>
                <menu>
                    <h2>Our Location</h2>
                    <li>
                        <a>6 Ojuelegba Street, Off Akinde Estate, Dalemo Alaluko Lagos</a>
                    </li>
                    <li>
                        <a>E:<a href="mailto:ibrahim4grace@gmail.com">Send email</a>
                    </li>
                    <li>
                        <a>P:+2347033731378</a>
                    </li>
                </menu>
            </section>
            <section>
                <menu>
                    <h2>About Clinic</h2>
                    <li>
                        <a>About Clinic</a>
                    </li>
                    <li>
                        <a>Careers</a>
                    </li>
                    <li>
                        <a>Press & Media</a>
                    </li>
                </menu>
            </section>
            <section>
                <menu>
                    <h2>Hospital</h2>
                    <li>
                        <a  href="/backend/adminlogin">Help Center</a>
                    </li>
                    <li>
                        <a>About Us</a>
                    </li>
                    <li>
                        <a>Contact</a>
                    </li>
                 

                </menu>
            </section>
        </section>
        <section class="footer-bottom">
            <small>© Korex Tech Ltd.<script>
                document.write(new Date().getFullYear())
            </script> All rights reserved</small>
        </section>
    </footer>


</div>

