<html>

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="../css/account.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="icon" href="../img/Createe.jpg">
    <meta charset="UTF-8">
    <meta name="description" content="Korex hospital ">
    <meta name="keywords"
        content="hospital,Korex,korexhospital, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital,korex">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

</head>

<body>
    <%- include(`partials/links`); -%>

        <div class="about-container">

            <div class="header">
                <img class="appoint-contentimage" src="../img/pexels-gus.jpg" />
                <div class="appoint-content2">
                    <div class="appoint-content3">
                        <h2 class="appoint-contenttopic1">About Us</h2>
                        <div class="appoint-contenttopic2"><a href="/"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 20" width="20" height="20">
                                    <path
                                        d="M19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001C20 20.5524 19.5523 21.0001 19 21.0001ZM6 19.0001H18V9.15757L12 3.70302L6 9.15757V19.0001ZM9 10.0001H15V16.0001H9V10.0001ZM11 12.0001V14.0001H13V12.0001H11Z"
                                        fill="#0057b8" />
                                    </path>
                                </svg> Home</a><span class="appoint-contenttopic3"> / About</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="main-about">
                <div class="aboutconent-left">
                    <h3 class="aboutconenttopic">Connect With <span style="color:#0074d9;">Korex</span> Health Care</h3>

                    <video width="100%" style="border-radius:4px;" autoplay muted>
                        <source src="../video/pexels-mart-productio.mp4" type="video/mp4">

                    </video>

                </div>

                <div class="aboutconent-right">
                    <span class="aboutconenttopic1">Modern Medicine</span>
                    <h3 class="aboutconenttopic2">Better Technologies for Better Healthcare</h3>
                    <p class="aboutconent-right1">In summary, good technologies in healthcare have the potential to
                        revolutionize patient care, optimize workflows, empower individuals, and improve health
                        outcomes. By
                        leveraging technology advancements, healthcare providers can deliver more personalized,
                        efficient,
                        and patient-centered care, ultimately enhancing the overall healthcare experience for both
                        patients
                        and providers.</p>

                    <p class="aboutconent-right1">Good technologies in healthcare can bring numerous benefits and
                        advancements to the field, ultimately leading to improved patient care and outcomes. </p>

                    <p class="aboutconent-right1">Patient Safety and Error Reduction: Good technologies play a vital
                        role in
                        reducing medical errors and improving patient safety. </p>

                </div>






            </div>
            <div class="figure-container">
                <div class="aboutconentvisionleft">
                    <h3 class="aboutconentvisiontoipc1">Our Vision</h3>
                    <p class="aboutconentvisiontoipc2">At Korex Hospital, our vision is to be a leading healthcare
                        institution that empowers individuals, families, and communities to achieve optimal health and
                        well-being. We strive to transform lives by providing exceptional, compassionate, and
                        patient-centered care while embracing the latest advancements in medical technology and
                        innovation.
                    </p>


                </div>
                <div class="aboutconentvisionright">
                    <h3 class="aboutconentvisiontoipc1">Our Mission</h3>
                    <p class="aboutconentvisiontoipc2">At Korex Hospital, our mission is to provide compassionate care,
                        exceptional service, and promote lifelong wellness for all individuals we serve. We are
                        dedicated to
                        delivering high-quality healthcare with integrity, empathy, and a commitment to the well-being
                        and
                        satisfaction of our patients and their families.</p>


                </div>



            </div>
            <%- include(`partials/footer`); -%>


        </div>


        <script type="text/javascript" src="../js/snow.js">



        </script>

</body>

</html>