<html>

<head>
    <title>Department</title>
    <link rel="stylesheet" href="../css/account.css">
    <link rel="stylesheet" href="../css/dpt.css">
    <link rel="icon" href="../img/Createe.jpg">
    <meta charset="UTF-8">
    <meta name="description" content="Korex hospital ">
    <meta name="keywords"
        content="hospital,Korex,korexhospital, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital,korex">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

</head>

<body>
    <%- include(`partials/links`); -%>

        <div class="department-container">

            <div class="header">
                <img class="appoint-contentimage" src="../img/pexels-gus.jpg" />
                <div class="appoint-content2">
                    <div class="appoint-content3">
                        <h2 class="appoint-contenttopic1">Department</h2>
                        <div class="appoint-contenttopic2"><a href="/"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 20" width="20" height="20">
                                    <path
                                        d="M19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001C20 20.5524 19.5523 21.0001 19 21.0001ZM6 19.0001H18V9.15757L12 3.70302L6 9.15757V19.0001ZM9 10.0001H15V16.0001H9V10.0001ZM11 12.0001V14.0001H13V12.0001H11Z"
                                        fill="#0057b8" />
                                    </path>
                                </svg> Home</a><span class="appoint-contenttopic3"> / Department</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="article">
                <div class="deprt-content1">
                    <div class="box">
                        <img class="sizebox" width="64" height="64"
                            src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/external-Cardiology-hospital-icongeek26-outline-colour-icongeek26.png"
                            alt="external-Cardiology-hospital-icongeek26-outline-colour-icongeek26" />
                        <p class="deprt-content-topic"><b>Cardiology:</b><br>Diagnosis and Treatment of Heart
                            Diseases.Cardiologists specialize in diagnosing and treating various heart conditions,
                            including
                            coronary artery disease, heart failure, arrhythmias, congenital heart defects, and valvular
                            diseases.</p>
                    </div>
                    <div class="box">
                        <img class="sizebox" width="64" height="64"
                            src="https://img.icons8.com/glyph-neue/64/228BE6/stethoscope.png" alt="stethoscope" />
                        <p class="deprt-content-topic"><b>Pediatrics:</b><br>Pediatrics provides specialized medical
                            care
                            tailored to the unique needs of children. Pediatricians are trained to understand the
                            physical,
                            emotional, and social development of children, allowing them to provide age-appropriate care
                            and
                            interventions.</p>
                    </div>
                    <div class="box">
                        <img class="sizebox" width="50" height="50"
                            src="https://img.icons8.com/ios/50/228BE6/hand-holding-heart.png"
                            alt="hand-holding-heart" />
                        <p class="deprt-content-topic"><b>Haematology:</b><br> Hematologists are specialized in
                            diagnosing
                            and treating a wide range of blood disorders, including anemia, bleeding disorders, blood
                            cancers (such as leukemia, lymphoma, and myeloma), clotting disorders, and disorders of the
                            immune system. </p>

                    </div>
                    <div class="box">
                        <img class="sizebox" width="50" height="50"
                            src="https://img.icons8.com/ios/50/228BE6/head-with-brain.png" alt="head-with-brain" />
                        <p class="deprt-content-topic"><b>Neurology:</b><br> Neurologists specialize in diagnosing and
                            treating a wide range of neurological disorders, including conditions such as stroke,
                            epilepsy,
                            Alzheimer's disease, Parkinson's disease,migraines, neuropathies, and brain tumors.</p>
                    </div>
                    <div class="box">
                        <img class="sizebox" width="50" height="50" src="https://img.icons8.com/ios/50/228BE6/lungs.png"
                            alt="lungs" />
                        <p class="deprt-content-topic"><b>X-Ray Diagnostic:</b><br> X-rays are particularly effective in
                            detecting and visualizing bone fractures and injuries. They provide clear images of the
                            skeletal
                            system, helping healthcare professionals accurately diagnose and assess the severity of
                            fractures.</p>

                    </div>
                    <div class="box">
                        <img class="sizebox" width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/228BE6/microbeam-radiation-therapy.png"
                            alt="microbeam-radiation-therapy" />
                        <p class="deprt-content-topic"><b>MRI Diagnostics:</b><br> MRI provides highly detailed and
                            comprehensive images of soft tissues, including organs, muscles, tendons, ligaments, nerves,
                            and
                            blood vessels. It is particularly advantageous in identifying and evaluating abnormalities
                            in
                            the brain, spinal cord, joints, abdomen, pelvis, and breast. </p>


                    </div>
                    <div class="box">
                        <img class="sizebox" width="50" height="50"
                            src="https://img.icons8.com/carbon-copy/100/228BE6/microscope.png" alt="microscope" />
                        <p class="deprt-content-topic"><b>Laboratory Services:</b><br>MRI provides highly detailed and
                            comprehensive images of soft tissues, including organs, muscles, tendons, ligaments, nerves,
                            and
                            blood vessels. It is particularly advantageous in identifying and evaluating abnormalities
                            in
                            the brain, spinal cord, joints, abdomen, pelvis, and breast. </p>

                    </div>
                    <div class="box">
                        <img class="sizebox" width="60" height="60"
                            src="https://img.icons8.com/ios/50/228BE6/ambulance--v1.png" alt="ambulance--v1" />
                        <p class="deprt-content-topic"><b>Emergency Help:</b><br>Ambulances are equipped to provide
                            rapid
                            emergency response to individuals in need. They are staffed with trained medical
                            professionals,
                            such as paramedics or emergency medical technicians (EMTs), who can quickly assess and
                            stabilize
                            patients at the scene of an emergency. </p>
                    </div>


                </div>

            </div>


            <div class="main">
                <div class="mainone">
                    <h3 class="thirdaccountconenttopic">Knock us out today to get medical services</h3>
                </div>

                <div class="maintwo">
                    <a href="/appointment">Book An Appointment</a>
                </div>


            </div>


            <%- include(`partials/footer`); -%>

        </div>


        <script type="text/javascript" src="../js/snow.js">



        </script>

</body>

</html>