<html>

<head>
    <title>Needs Help</title>
    <link rel="stylesheet" href="../css/account.css">
    <link rel="stylesheet" href="../css/help.css">
    <link rel="icon" href="../img/Createe.jpg">
    <meta charset="UTF-8">
    <meta name="description" content="Korex hospital ">
    <meta name="keywords"
        content="hospital,Korex,korexhospital, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital,korex">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  
</head>

<body>
    <%- include(`partials/links`); -%>

        <div class="help-container">

            <div class="header">
                <img class="appoint-contentimage" src="../img/pexels-gus.jpg" />
                <div class="appoint-content2">
                    <div class="appoint-content3">
                        <h2 class="appoint-contenttopic1">Needs Help</h2>
                        <div class="appoint-contenttopic2"><a href="/" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 20" width="20" height="20">
                                    <path
                                        d="M19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001C20 20.5524 19.5523 21.0001 19 21.0001ZM6 19.0001H18V9.15757L12 3.70302L6 9.15757V19.0001ZM9 10.0001H15V16.0001H9V10.0001ZM11 12.0001V14.0001H13V12.0001H11Z"
                                        fill="#0057b8" />
                                    </path>
                                </svg> Home</a><span class="appoint-contenttopic3"> / Help Centre</span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="help-content">
                <div class="testimonial">
                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">

                            <div class="image"> <br>
                                <br><img class="bold" src="../assets/doctor.svg" alt="Image">
                            </div>
                            <div class="details">
                                <h3>Doctor</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">

                            <div class="image"> <br>
                                <br><img class="bold" src="../assets/location.svg" alt="Image">
                            </div>
                            <div class="details">
                                <h3>Locations</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">

                            <div class="image"> <br>
                                <br><img class="bold" src="../assets/billing.svg" alt="Image">
                            </div>
                            <div class="details">
                                <h3>Finance</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="layer"></div>
                        <div class="content">

                            <div class="image"> <br>
                                <br><img class="bold" src="../assets/patient.svg" alt="Image">
                            </div>
                            <div class="details">
                                <h3>Patients</h3>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
            <div class="help-main">
                <div class="helpcontent1-left">
                    <h2 class="helpcontent1topic">Find a doctor</h2>
                    <button class="accordion">1. How do I make an appointment</button>
                    <div class="panel">

                        <p class="helpcontent1topic3">24/7 Hours Service <br>2347033731378<br></p>
                        <span class="helpcontent1topic5"><strong>ADDRESS:</strong>6 Ojuelegba Road.
                            Surulere Lagos, 23401<br><strong> EMAIL US:</strong> info@korex.com.</span>
                    </div>

                    <button class="accordion">2. Do you have consultants available in for 24 hours?</button>
                    <div class="panel">
                        <p class="helpcontent1topic2">Thank you for reaching out to us. At Korex hospital, we have
                            consultants available round the clock to ensure comprehensive care for our patients. Our
                            team of
                            dedicated consultants is available 24 hours a day, 7 days a week to attend to medical
                            emergencies and provide continuous support. Whether you require immediate attention or have
                            medical concerns at any time, our consultants are here to assist you. Please feel free to
                            contact our emergency helpline or visit our emergency department if you require urgent
                            medical
                            assistance. We prioritize your health and are committed to delivering quality care around
                            the
                            clock.</p>
                    </div>

                    <button class="accordion">3. What are the phone numbers of your hospital</button>
                    <div class="panel">
                        <p class="helpcontent1topic1">24/7 Hours Service <br>2347033731378 or 2348180907790</p>
                    </div>

                    <button class="accordion">4. Does hospital provide ambulance service </button>
                    <div class="panel">
                        <p class="helpcontent1topic2">Thank you for your inquiry. Yes, our hospital provides ambulance
                            services to ensure timely and safe transportation for patients in need of medical
                            assistance.
                            Our dedicated ambulance service is equipped with trained medical professionals and necessary
                            equipment to handle various medical emergencies. If you or someone you know requires
                            emergency
                            medical transportation, please contact our emergency helpline, and our team will swiftly
                            respond
                            to your location. Your well-being and prompt access to medical care are our top priorities.
                            Please don't hesitate to reach out if you require further information or assistance.</p>
                    </div>

                    <button class="accordion">5. What are the facitilities of ICU </button>
                    <div class="panel">
                        <p class="helpcontent1topic2">Thank you for your inquiry. Our Intensive Care Unit (ICU) is
                            equipped
                            with state-of-the-art facilities and specialized care to provide comprehensive support for
                            critically ill patients. Here are some of the facilities and services available in our
                            ICU:Advanced Monitoring,Ventilator Support,Dedicated Medical Staff and Infection Control
                            Measures.</p>
                    </div>
                    <script>
                        var acc = document.getElementsByClassName("accordion");
                        var i;

                        for (i = 0; i < acc.length; i++) {
                            acc[i].addEventListener("click", function () {
                                this.classList.toggle("active");
                                var panel = this.nextElementSibling;
                                if (panel.style.maxHeight) {
                                    panel.style.maxHeight = null;
                                } else {
                                    panel.style.maxHeight = panel.scrollHeight + "px";
                                }
                            });
                        }
                    </script>

                </div>

                <div class="helpcontent1-right">
                    <img class="helpcontentimage" src="../img/Createe.jpg" />
                    <h4 class="helpcontent1topic4">Contact</h4>
                    <hr>
                    <p class="helpcontent1topic6">24/7 Hours Service</p><a class="helpcontent1topic7"
                        style="text-decoration:none;" href="#2347033731378">2347033731378</a><br>
                    <br>
                    <ul style="list-style-type: none;">
                        <span class="helpcontent1topic5" style="color:#0057b8;">ADDRESS:
                            <li class="helpcontent1topic5">6 Ojuelegba Road.</li>
                            <li class="helpcontent1topic5">Off Akinde Estate,</li>
                            <li class="helpcontent1topic5">Alakuko Lagos, 23401</li>
                    </ul></span>
                    <div class="helpcontent1topic5" style="color:#0057b8;"> EMAIL US:<a
                            style="text-decoration:none;color:#1c1c1c;"
                            href="mailto:ibrahim4grace@gmail.com">info@korex.com</a></div>
                    <img class="helpcontentimage2" src="../img/ambulance.png" />





                </div>




            </div>
            <div class="main">
                <div class="mainone">
                    <h3 class="thirdaccountconenttopic">Knock us out today to get medical services</h3>
                </div>

                <div class="maintwo">
                    <a href="/appointment">Book An Appointment</a>
                </div>


            </div>

            <%- include(`partials/footer`); -%>

        </div>


        <script type="text/javascript" src="../js/snow.js">

        </script>

</body>

</html>