<html>

<head>
    <title>Testimony</title>
    <link rel="stylesheet" href="../css/account.css">
    <link rel="stylesheet" href="../css/test.css">
    <link rel="icon" href="../img/Createe.jpg">
    <meta charset="UTF-8">
    <meta name="description" content="Korex hospital ">
    <meta name="keywords"
        content="hospital,Korex,korexhospital, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital,korex">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  
</head>

<body>
    <%- include(`partials/links`); -%>

        <div class="testimony-container">

            <div class="header">
                <img class="appoint-contentimage" src="../img/pexels-gus.jpg" />
                <div class="appoint-content2">
                    <div class="appoint-content3">
                        <h2 class="appoint-contenttopic1">Testimony</h2>
                        <div class="appoint-contenttopic2"><a href="/" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 20" width="20" height="20">
                                    <path
                                        d="M19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001C20 20.5524 19.5523 21.0001 19 21.0001ZM6 19.0001H18V9.15757L12 3.70302L6 9.15757V19.0001ZM9 10.0001H15V16.0001H9V10.0001ZM11 12.0001V14.0001H13V12.0001H11Z"
                                        fill="#0057b8" />
                                    </path>
                                </svg> Home</a><span class="appoint-contenttopic3"> / Testimony</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="main-flex">

                <div class="Test-image1">
                    <img class="Test-inimage1" src="../img/pexels-cotto.jpg">
                    <div class="Test-namebox">
                        <h3 class="Test-name">Daniel Richards</h3>
                        <span class="Test-myname-issue">Patient</span>

                    </div>
                    <p class="test-feedbacks">" I was impressed by the hospital's state-of-the-art facilities and
                        advanced
                        medical equipment. The availability of cutting-edge technology played a vital role in my
                        diagnosis
                        and treatment, enhancing the overall quality of care received. The cleanliness and maintenance
                        of
                        the hospital were of the highest standard, creating a hygienic environment conducive to
                        healing."
                    </p>
                    <span class="Test-incon1"><svg width="76" height="51" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961 44.1768V50.4268C23.8086 50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#C3D6EC" />
                        </svg>
                    </span>
                </div>
                <div class="Test-image2">
                    <img class="Test-inimage2" src="../img/pexels-andrea-piacqu.jpg">
                    <div class="Test-namebox">
                        <h3 class="Test-name">Jude Omokachi</h3>
                        <span class="Test-myname-issue">Patient</span>

                    </div>
                    <p class="test-feedbacks">"I would like to acknowledge the exceptional coordination and efficiency
                        of
                        the support staff. From the housekeeping personnel who ensured a clean and sanitized environment
                        to
                        the cafeteria staff who provided nutritious meals, everyone contributed to the seamless
                        functioning
                        of the hospital, making my stay comfortable and convenient."</p>
                    <span class="Test-incon2"><svg width="76" height="51" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961 44.1768V50.4268C23.8086 50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#C3D6EC" />
                        </svg>
                    </span>

                </div>

                <div class="Test-image3">
                    <img class="Test-inimage3" src="../img/pexels-monsterp.jpg">
                    <div class="Test-namebox">
                        <h3 class="Test-name">Lola George</h3>
                        <span class="Test-myname-issue">Patient</span>

                    </div>
                    <p class="test-feedbacks">"I cannot express my gratitude enough for the outstanding care and service
                        I
                        received at Korex Hospital. The exceptional team of medical professionals and staff truly embody
                        the
                        hospital's commitment to excellence. Please convey my heartfelt appreciation to all those
                        involved
                        in my treatment and care."</p>
                    <span class="Test-incon3"><svg width="76" height="51" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961 44.1768V50.4268C23.8086 50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#C3D6EC" />
                        </svg>
                    </span>

                </div>
                <div class="Test-image4">
                    <img class="Test-inimage4" src="../img/Screenshot_1.jpg">
                    <div class="Test-namebox">
                        <h3 class="Test-name">Timothy William</h3>
                        <span class="Test-myname-issue">Patient</span>

                    </div>
                    <p class="test-feedbacks">"As a satisfied patient, I wanted to take the time to provide this
                        feedback to
                        ensure that the exceptional work of the hospital's staff does not go unnoticed. It is my sincere
                        hope that my experience serves as a testament to the high standards of care maintained by Korex
                        Hospital."</p>
                    <span class="Test-incon4"><svg width="76" height="51" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961 44.1768V50.4268C23.8086 50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#C3D6EC" />
                        </svg>
                    </span>

                </div>
                <div class="Test-image5">
                    <img class="Test-inimage5" src="../img/Screenshot_.jpg">
                    <div class="Test-namebox">
                        <h3 class="Test-name">Patricia Buchanan</h3>
                        <span class="Test-myname-issue">Patient</span>

                    </div>
                    <p class="test-feedbacks">"I am writing to express my heartfelt gratitude for the exceptional care
                        and
                        service I received during my recent treatment at Korex Hospital. I believe it is crucial to
                        acknowledge and appreciate the efforts of the dedicated medical professionals and staff who made
                        my
                        experience truly remarkable."</p>
                    <span class="Test-incon5"><svg width="76" height="51" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961 44.1768V50.4268C23.8086 50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#C3D6EC" />
                        </svg>
                    </span>

                </div>
                <div class="Test-image6">
                    <img class="Test-inimage6" src="../img/Screenshot_12.jpg">
                    <div class="Test-namebox">
                        <h3 class="Test-name">Folarin Ayinde</h3>
                        <span class="Test-myname-issue">Patient</span>

                    </div>
                    <p class="test-feedbacks">"Thank you once again for the exceptional care, compassion, and dedication
                        exhibited by everyone at Korex Hospital. You have not only made a difference in my life but have
                        reaffirmed my faith in the healthcare profession."</p>
                    <span class="Test-incon6"><svg width="76" height="51" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961 44.1768V50.4268C23.8086 50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#C3D6EC" />
                        </svg>
                    </span>


                </div>
                <div class="Test-image7">
                    <img class="Test-inimage7" src="../img/Screenshot_13.jpg">
                    <div class="Test-namebox">
                        <h3 class="Test-name">Corey Jaramillo</h3>
                        <span class="Test-myname-issue">Patient</span>

                    </div>
                    <p class="test-feedbacks">"As a grateful patient, I wanted to take the time to provide this feedback
                        and
                        share my positive experience. It is my hope that this letter serves as a testament to the
                        exemplary
                        standards of care maintained by Korex Hospital and encourages continued excellence in serving
                        future
                        patients."</p>
                    <span class="Test-incon7"><svg width="76" height="51" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961 44.1768V50.4268C23.8086 50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#C3D6EC" />
                        </svg>
                    </span>


                </div>
                <div class="Test-image8">
                    <img class="Test-inimage8" src="../img/Screenshot_11.jpg">
                    <div class="Test-namebox">
                        <h3 class="Test-name">Jimmy Roberts</h3>
                        <span class="Test-myname-issue">Patient</span>

                    </div>
                    <p class="test-feedbacks">"I would also like to extend my appreciation to the ancillary staff who
                        played
                        an integral role in maintaining the hospital's smooth operation. From the housekeeping team who
                        ensured a clean and sanitary environment to the dietary staff who provided nourishing meals,
                        everyone contributed to the overall positive experience I had during my time at Korex Hospital."
                    </p>
                    <span class="Test-incon8"><svg width="76" height="51" viewBox="0 0 76 51" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.996094 0.426758V31.6768H25.9961C25.9961 38.6111 20.4305 44.1768 13.4961 44.1768V50.4268C23.8086 50.4268 32.2461 41.9893 32.2461 31.6768V0.426758H0.996094ZM44.7461 0.426758V31.6768H69.7461C69.7461 38.6111 64.1805 44.1768 57.2461 44.1768V50.4268C67.5586 50.4268 75.9961 41.9893 75.9961 31.6768V0.426758H44.7461ZM7.24609 6.67676H25.9961V25.4268H7.24609V6.67676ZM50.9961 6.67676H69.7461V25.4268H50.9961V6.67676Z"
                                fill="#C3D6EC" />
                        </svg>
                    </span>


                </div>





            </div>

            <%- include(`partials/footer`); -%>


        </div>


        <script type="text/javascript" src="../js/snow.js">



        </script>

</body>

</html>