* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.apointment-container {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    position: relative;

}

.content {
    width: 100%;
    margin-top: 50px;
    min-height: 1000px;

}

@media (min-width: 320px) and (max-width: 480px) {
    .content {

        min-height: 2000px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .content {

        min-height: 1750px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .content {

        min-height: 1500px;
    }
}




.appoint-content4-left {
    width: 55%;
    height: 970px;

    float: left;
    cursor: pointer;
    margin-left: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .appoint-content4-left {
        width: 100%;
        min-height: 1130px;
        margin-left: 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .appoint-content4-left {
        width: 100%;
        min-height: 984px;
        margin-left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .appoint-content4-left {
        width: 90%;
        min-height: 958px;
        margin-left: 4%;
        margin-right: 4%;

    }
}

.appoint-content4-lefttopic {
    padding: 10px;
    width: 100%;

    margin-top: 3px;
}

.appoint-content4-lefttopic1 {

    font-weight: 700;
    Font-Family: "Lato", sans-serif;
    Font-Size: 39px;
    Line-Height: 37px;
    color: #004861;
    margin-bottom: 30px;


}

@media (min-width: 320px) and (max-width: 480px) {
    .appoint-content4-lefttopic1 {
        Font-Size: 23px;
    }
}

.appoint-content4-lefttopic2 {
    font-weight: 300;
    Font-Family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-Size: 16px;
    Line-Height: 24px;
    color: #333333;


}

@media (min-width: 768px) and (max-width: 1024px) {
    .appoint-content4-lefttopic2 {
        max-width: 700px;
    }
}


.appoint-content4-left select {
    width: 100%;
    min-height: 44px;
    border: 1px solid #ccc;

}

.appoint-content-form {
    width: 100%;
    min-height: 44px;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
   background-color: #fff;
   padding: 10px 10px;
 
}
.appoint-content-form-text {
    width: 100%;
  height:150px;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
   background-color: #fff;
   padding: 10px 10px;
   
}

@media (min-width: 320px) and (max-width: 767px) {
    .appoint-content-form,.appoint-content-form-text {

        max-width: 500px;

    }
}

.appoint-content4-left ::placeholder {
    color: #333333;

}


.appoint-content4-right {
    width: 30%;

    float: right;
    margin-right: 30px;
    position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
    .appoint-content4-right {
        width: 100%;
        margin-top: 22px;
        margin-right: 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .appoint-content4-right {
        width: 100%;
        margin-top: 22px;
        margin-right: 0px;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .appoint-content4-right {
        width: 100%;
        margin-top: 22px;
        margin-right: 0px;

    }
}

.appoint-content4-right1 {
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
    .appoint-content4-right1 {
        width: 100%;

    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .appoint-content4-right1 {
        width: 80%;
        margin: auto;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .appoint-content4-right1 {
        width: 48%;
        float: left;
        margin-left: 10px;
    }
}

.appoint-content4-right2 {
    width: 100%;

    height: 105px;
    margin-top: 2px;
    float: right;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.appoint-content4-right2holder {
    width: 65%;
    float: left;
}


.appoint-content4-righttopic1 {
    font-weight: 700;
    font-family: "Lato", sans-serif;
    Font-Size: 19px;
    Line-Height: 23px;
    color: #004861;
}

@media (min-width: 320px) and (max-width: 767px) {
    .appoint-content4-righttopic1{
      
        margin-top: 50px;


    }
}

.appoint-content4-righttopic2 {
    font-weight: 700;
    font-family: "Lato", sans-serif;
    Font-Size: 19px;
    line-height: 30%;
    color: #004861;
    margin-top: 9px;


}

@media (min-width: 320px) and (max-width: 480px) {
    .appoint-content4-righttopic2 {
        max-width: 35%;
        Font-Size: 17px;
        margin-top: -2px;
        color: #004861;
        line-height: 1;
        margin-top: 1;


    }
}

@media (min-width: 481px) and (max-width:1024px) {
    .appoint-content4-righttopic2 {
        line-height: 10%;
        Font-Size: 18px;
        color: #004861;
        margin-top: 8;


    }
}

.appoint-content4-righttopic3 {
    font-weight: 300;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-Size: 15px;
    margin-top: 10px;
    color: #666666;

}

@media (min-width: 320px) and (max-width: 480px) {
    .appoint-content4-righttopic3 {

        Font-Size: 15px;
        margin-top: 1px;
        color: #666666;

    }
}

@media (min-width: 481px) and (max-width:1024px) {
    .appoint-content4-righttopic3 {

        Font-Size: 15px;
        margin-top: 9px;
        color: #666666;

    }
}

.appoint-content4-righttopic4 {
    font-weight: 900;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-Size: 20px;
    margin-top: 3px;
    color: #0074d9;

}

@media (min-width: 320px) and (max-width: 480px) {
    .appoint-content4-righttopic4 {

        Font-Size: 17px;
        margin-top: 0px;

    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .appoint-content4-righttopic4 {

        Font-Size: 20px;
        margin-top: 3px;

    }
}



.appoint-content4-rightbelow {
    width: 100%;
    min-height: 450px;

    margin-top: 50px;
    background: #0074d9;
    color: white;
    padding-left: 20px;
    text-align: center;
}


@media (min-width: 320px) and (max-width: 480px) {
    .appoint-content4-rightbelow {

        margin-top: 30px;
        min-height: 350px;

    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .appoint-content4-rightbelow {
        width: 80%;
        min-height: 350px;
        margin-left: 10%;
        margin-top: 30px;
        margin-right: 10%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .appoint-content4-rightbelow {
        width: 47%;
        min-height: 450px;
        float: right;
        margin-top: 20px;
        margin-right: 10px;
    }
}


.appoint-content4-righttopic5 {
    font-weight: 300;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-Size: 15px;
    line-height: 23px;
    color: #333333;
    padding-left: 10px;
}

.appoint-rightimage {
    width: 100px;
    height: 100px;

}



.button {
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
    width: 100%;
    min-height: 40px;
    /* margin: auto; */
    position: relative;
    text-decoration: uppercase;
    font-weight: 400;
    border-radius: 4px;
    background-color: #1A68BF;
    display: flex;
    justify-content: center;

}

a {
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: #014562;
}

.button svg {
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.button rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.button:hover rect {
    stroke: #1A68BF;
    stroke-width: 5;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: 48;
    transition: all 2s cubic-bezier (0.22, 1, 0, 25, 1);

}