<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registration Page</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../vertical-layout-light/style.css">
  <link rel="stylesheet" href="../css/account.css">
  <link rel="icon" href="../img/Createe.jpg">

</head>

<body>
    <%- include(`../partials/links`); -%>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              
              <div class="brand-logo">
                <img src="../img/korexlogo.jpg" alt="logo">
              </div>
              <h4>Password Reset Link Expired</h4> 
                <p>
                 We're sorry, the password reset link has expired. Please initiate the password reset process again to receive a new link.
                </p>

            
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</body>

</html>
